.Home {
    min-height: 100vh;

    .outlet {
        width: min(1720px, calc(100% - 18px));
        margin: 18px auto 0;
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .Home .outlet {
        width: min(1720px, calc(100% - 14px));
        margin-top: 20px;
        padding-bottom: 40px;
    }
}
